header {
    text-align: center;

    padding-bottom: 35px;
    font-size: 30pt;


}


.bluefont {
    color: rgb(102, 178, 240);
}

.whitefont {
    color: aliceblue;
}

.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;

}


.paddingtop {
    padding-top: 240px;
}

.header-image {

    background-image: url("../assest/wide.jpg");
    height: 500px;
    background-size: cover;

}

.rounded-corners {
    border-radius: 50px;




}

ul a:visited {
    color: blanchedalmond;


}
}

li {
    list-style-type: none;
    display: flex;

}

.image-textcontainer {
    display: flex;
    justify-content: center;


}

h2 .arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.left {
    list-style-type: none;
    text-align: center;
    background-color: rgb(246, 248, 248);
    font-size: 28pt;
    padding-right: 50px;
    padding-top: 75px;

}

.listpad {
    padding-bottom: 50px;
}


.bottom {
    padding-top: 50px;
    list-style-type: none;
    justify-content: space-evenly;

    display: flex;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 10px;
}

.floating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

.floating-grid {
    display: grid;
    grid-template-columns: repeat(3, 4in);
    grid-template-rows: repeat(2, 4in);
    gap: 2in;
}

.floating-item {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.floating-item img {
    width: 4in;
    height: 4in;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 20px;
}

.floating-item img:hover {
    transform: scale(2.00);

}

.floating-item span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}