header {
    background-color: rgb(245, 245, 250);
    text-align: center;

    padding: 50px;
    padding-bottom: 35px;
    font-size: 30pt;
    background-image: ;

}


.bluefont {
    color: rgb(102, 178, 240);
}

.whitefont {
    color: aliceblue;
}

.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;

}




.header-image {

    background-image: url("../assest/wide\ mountains.jpg");
    height: 800px;

}

.rounded-corners {
    border-radius: 50px;









}

ul a:visited {
    color: blanchedalmond;


}
}

li {
    list-style-type: none;
    display: flex;

}

.image-textcontainer {
    display: flex;
    justify-content: center;


}

h2 .arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.left {
    list-style-type: none;
    text-align: center;
    background-color: rgb(246, 248, 248);
    font-size: 28pt;
    padding-right: 50px;
    padding-top: 75px;

}

.listpad {
    padding-bottom: 50px;
}


.bottom {
    padding-top: 25px;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(246, 248, 248);
    display: flex;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 10px;
}